<header>
    <h1>Inicio</h1>
    <a href="http://localhost:8080/realTimeProducts" target="_blank" rel="noopener noreferrer">Productos en Tiempo Real</a>
</header>

<main>
    <section>
        <h3>Productos</h3>
        <p>Aquí encontrarás los productos disponibles.</p>
        <div class="products">
            <div class="products__list">
                <ul class="products__list__item" id="products-list"></ul>
            </div>
            <button id="btn-refresh-products-list">Recargar Lista</button>
        </div>
    </section>
</main>

<script src="/api/public/js/products.js"></script>